html, body {
    margin:0;
    padding:0;
}
.container {
    
}
.img-box {
    float:left;
}
.fav-icon {
    float:right;
    height: 15px;
    width:15px;
    margin:3px;
}
.hidden {
    display:none;
}
